.filter-area {
    padding:8px 8px 0 8px;
}

.search-input-group
{
    margin-top:8px;
    width:100%;
}

.search-input-group label
{
    display:block;
    width:100%;
    margin-bottom:3px;

    font-style:italic;
}

.search-input-group select
{
    width:100%;
}

.list-for-delete-panel
{
    margin-top:2px;

    background-color:#ddd;
    color:darkslategray;
    padding:3px;

    font-size:14px;
}

.list-for-delete-panel fa{
    float:right;
    cursor:pointer;
}

.list-for-module-panel
{
    margin-top:2px;

    background-color:#ddd;
    color:darkslategray;
    padding:3px;

    font-size:14px;
}

.list-for-module-panel fa{
    float:right;
    cursor:pointer;
}

.active{
    color: #0e83cd !important;
    background: #fff !important;

    border-color: #0e83cd !important;
}

.info-label{
    margin-top:10px;
    font-size:10px;
}

.info-value{
    font-size:12px;
    font-style:normal;
}

legend{
    border-radius:2px;
    background-color:gray;

    color:white;
    padding:3px;
}

.pointer-cursor {
    cursor: pointer;
}
