<div class="filter-area">
  <legend style="text-align:center;margin-top:10px;">
    Select quality metric and files
    <fa (click)="qualityMetricAndFilesHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #qualityMetricAndFilesHelpModal>
    <div class="app-modal-header">
      Help for selecting quality metric and files
    </div>
    <div class="app-modal-body">
      Select the quality of the files you want to inspect, and then choose a file from the dropdown.<br/>
      You can visualize the quality of all commits by clicking 'Show all commits' on the bottom of this panel.<br/>
      If you visualized quality of commits, you can click on a commit node to display all files associated to this commit.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="qualityMetricAndFilesHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
  <div class="search-input-group">
    <label>Set quality metric for files</label>
    <select2 [data]="getQualityMetricListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setQualityMetricSelectValueAndEmitQualityMetricChangedEvent( $event.value )">
    </select2>
    <!--<div id="selected-commit-qualities-holder">
      <div class="list-for-delete-panel"
           *ngFor="let commitQuality of getCommitQualityList()">
        {{commitQuality}}
        <fa (click)="removeFromSelectedCommitQualityList(commitQuality)" [name]="'times'"></fa>
      </div>
    </div>-->
  </div>
  <hr/>
  <div class="search-input-group">
    <label>Add file to visualization</label>
    <select2 [data]="getFileListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setFileSelectValueAndEmitAddFileToVisualizationEvent($event.value)">
    </select2>

    <div id="selected-files-holder">
      <div class="list-for-delete-panel"
           *ngFor="let file of getSelectedFileList()"
           [style.color]="getFileColorByFileName(file)"
           dnd-draggable [dragEnabled]="true" [dragData]="file">
              {{"..."+file.slice(-35)}}
              <fa (click)="removeFromSelectedFileList(file)" [name]="'times'"></fa>
      </div>
    </div>
  </div>

  <legend style="text-align:center;margin-top:30px;">
    Wrap selected files to modules
    <fa (click)="moduleWrapperHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #moduleWrapperHelpModal>
    <div class="app-modal-header">
      Help for wrapping selected files to modules
    </div>
    <div class="app-modal-body">
      If you are visualizing files, you can see a list of these files below the select box 'Add file to visualization'.<br/>
      You can drag and drop these files to the module dropzone and they get aggregated into one trend.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="moduleWrapperHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
  <div class="search-input-group">
    <div id="module-holder" dnd-droppable (onDropSuccess)="emitAddFileToModuleWrapperEvent($event.dragData)">
      <div class="module-file-dropzone" [hidden]="getModuleFileData().length > 0"><i>Drop files that you want to wrap in a module here!</i></div>
      <div class="list-for-module-panel"
            *ngFor="let file of getModuleFileData()"
            [style.color]="getFileColorByFileName(file)">
            {{"..."+file.slice(-35)}}
            <fa (click)="removeFromModuleFileList(file)" [name]="'times'"></fa>
      </div>
    </div>
  </div>
  <!--<div class="search-input-group">
    <label>Set file quality metric</label>
    <select>
      <option>test</option>
    </select>
  </div>-->
  <app-diff-panel #diffPanel></app-diff-panel>

  <legend style="text-align:center;margin-top:30px;">
    Compare commit trends
    <fa (click)="compareCommitTrendsHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #compareCommitTrendsHelpModal>
    <div class="app-modal-header">
      Help for comparing commit trends
    </div>
    <div class="app-modal-body">
      If you want to compare different quality metrics for each commit, you can do this by selecting quality metrics from the dropdown list.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="compareCommitTrendsHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
  <div class="search-input-group">
    <label>Add commit quality metric trend to visualization</label>
    <select2 [data]="getQualityMetricListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setQualityMetricSelectValueForCompare( $event.value )">
    </select2>
    <div id="selected-commit-qualities-holder">
      <div class="list-for-delete-panel"
           *ngFor="let commitQuality of getCommitQualityCompareList()"
           [style.color]="getQualityColorByLabel( commitQuality )">
        {{lookupQualityNameForKey(commitQuality)}}
        <fa (click)="removeFromSelectedCommitQualityList(commitQuality)" [name]="'times'"></fa>
      </div>
    </div>
  </div>

  <legend style="text-align:center;margin-top:30px;">
    Customize View
    <fa (click)="customizeViewHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #customizeViewHelpModal>
    <div class="app-modal-header">
      Help for customizing the view
    </div>
    <div class="app-modal-body">
      Show all commits triggers renders all commits to the visualization that may be selected with the above options and puts them to the foreground.
      Show all files renders all files to the visualization that may be selected with the above options and puts them to the foreground.
      Show commits and files renders both, files and commits, that may be selected with the above options and puts both to the foreground.
      Fade Files puts all current file visualizations in the background.
      Fade Commits puts all current commit visualizations in the background.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="customizeViewHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
  <div class="search-input-group">
    <div class="button" (click)="showCommitView()">Show all commits</div>
    <div class="button" (click)="showFileView()">Show all files</div>
    <div class="button" (click)="showFileAndCommmitViews()">Show commits and files</div>
    <div></div>
    <div class="button" (click)="fadeFileView()">Fade files</div>
    <div class="button" (click)="fadeCommitView()">Fade commits</div>
    <div class="button" (click)="clearCommmitView()">Clear commits</div>
  </div>
  <!--<div class="search-input-group">
    <div class="button" (click)="showFileDetailView()">Show File Details</div>
  </div>-->
</div>

