<div class="filter-area">
  <div class="search-input-group" style="margin-bottom:20px;">
    <label style="text-align:center;">Set and display quality metric for your project</label>
    <select2 [data]="getQualityMetricListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setQualityMetricSelectValueAndEmitQualityMetricChangedEvent( $event.value );showCommitView()">
    </select2>
    <!--<div id="selected-commit-qualities-holder">
      <div class="list-for-delete-panel"
           *ngFor="let commitQuality of getCommitQualityList()">
        {{commitQuality}}
        <fa (click)="removeFromSelectedCommitQualityList(commitQuality)" [name]="'times'"></fa>
      </div>
    </div>-->
  </div>
  <div class="search-input-group" style="margin-bottom:30px;">
    <label style="text-align:center;">Set visibility options</label>
    <div class="button" (click)="showCommitView()" [ngClass]="{visibilityButtonActive: showCommitButtonActive==true}">Show commits only</div>
    <div class="button" (click)="showFileView()" [ngClass]="{visibilityButtonActive: showFileButtonActive==true}">Show files only</div>
    <div class="button" (click)="showFileAndCommmitViews()" [ngClass]="{visibilityButtonActive: showFileAndCommitButtonActive==true}">Show commits and files</div>
    <div></div>
    <div class="button" (click)="fadeFileView()" [ngClass]="{visibilityButtonActive: fadeFileButtonActive==true}">Fade files</div>
    <div class="button" (click)="fadeCommitView()" [ngClass]="{visibilityButtonActive: fadeCommitButtonActive==true}">Fade commits</div>
    <!--<div class="button" (click)="toggleYAxisZoom()">Toogle Y-Axis Zoom</div>-->
    <!--<div class="button" (click)="clearCommmitView()">Clear commits</div>-->
  </div>

  <legend style="text-align:center;margin-top:10px;" [ngStyle]="{'visibility':getSelectedQualityMetrc() != null ? 'visible' : 'hidden'}">
    File and Module Options
    <fa (click)="qualityMetricAndFilesHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #qualityMetricAndFilesHelpModal>
    <div class="app-modal-header">
      <h3>Help for selecting quality metric and files</h3>
    </div>
    <div class="app-modal-body">
      Selecting a file from the <strong>'Add file to visualization'</strong> dropdown visualizes the file in the trend area and adds it
      to the file list below the dropdown.<br/><br/>
      The tab <strong>'Compare file versions'</strong> allows you to compare file versions by clicking on a file node in the trend area.
      After that you have to click 'Fixate revision of first file'
      and choose a second file in the trend area. Clicking 'Show File Difference View' opens a diff view of the two selected file versions.<br/><br/>
      The tab <strong>'Group files to modules'</strong> allows to drag and drop files from the selected file list into an
      area where
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="qualityMetricAndFilesHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>

  <div class="search-input-group" [ngStyle]="{'visibility':getSelectedQualityMetrc() != null ? 'visible' : 'hidden'}">
    <label>Add file to visualization</label>
    <select2 [data]="getFileListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setFileSelectValueAndEmitAddFileToVisualizationEvent($event.value)">
    </select2>

    <div id="selected-files-holder">
      <div class="list-for-delete-panel"
           *ngFor="let file of getSelectedFileList()"
           [style.color]="getFileColorByFileName(file.filename)"
           dnd-draggable [dragEnabled]="true" [dragData]="file.filename">
        <input (change)="triggerFileVisibility($event,file)" type="checkbox" [checked]="file.checked ? 'checked' : ''" style="cursor:pointer"/>
        {{"..."+file.filename.slice(-35)}}
        <fa (click)="removeFromSelectedFileList(file.filename)" [name]="'times'"></fa>
      </div>
    </div>

    <mat-tab-group [disableRipple]="true" [selectedIndex]="selectedIndex">
      <mat-tab label="Compare file versions">
        <app-diff-panel #diffPanel></app-diff-panel>
      </mat-tab>
      <mat-tab label="Group files to modules">
        <div class="search-input-group">
          <div id="module-holder" dnd-droppable (onDropSuccess)="emitAddFileToModuleWrapperEvent($event.dragData)">
            <div class="module-file-dropzone" [hidden]="getModuleFileData().length > 0"><i>Drop files that you want to wrap in a module here!</i></div>
            <div class="list-for-module-panel"
                 *ngFor="let file of getModuleFileData()"
                 [style.color]="getFileColorByFileName(file)">
              {{"..."+file.slice(-35)}}
              <fa (click)="removeFromModuleFileList(file)" [name]="'times'"></fa>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!--<legend style="text-align:center;margin-top:30px;">
    Wrap selected files to modules
    <fa (click)="moduleWrapperHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>-->
  <app-modal-dialog class="help-modal" #moduleWrapperHelpModal>
    <div class="app-modal-header">
      Help for wrapping selected files to modules
    </div>
    <div class="app-modal-body">
      If you are visualizing files, you can see a list of these files below the select box 'Add file to visualization'.<br/>
      You can drag and drop these files to the module dropzone and they get aggregated into one trend.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="moduleWrapperHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>

  <!--<div class="search-input-group">
    <label>Set file quality metric</label>
    <select>
      <option>test</option>
    </select>
  </div>-->

  <!--<legend style="text-align:center;margin-top:30px;">
    Compare commit trends
    <fa (click)="compareCommitTrendsHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #compareCommitTrendsHelpModal>
    <div class="app-modal-header">
      Help for comparing commit trends
    </div>
    <div class="app-modal-body">
      If you want to compare different quality metrics for each commit, you can do this by selecting quality metrics from the dropdown list.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="compareCommitTrendsHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
  <div class="search-input-group">
    <label>Add commit quality metric trend to visualization</label>
    <select2 [data]="getQualityMetricListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setQualityMetricSelectValueForCompare( $event.value )">
    </select2>
    <div id="selected-commit-qualities-holder">
      <div class="list-for-delete-panel"
           *ngFor="let commitQuality of getCommitQualityCompareList()"
           [style.color]="getQualityColorByLabel( commitQuality )">
        {{lookupQualityNameForKey(commitQuality)}}
        <fa (click)="removeFromSelectedCommitQualityList(commitQuality)" [name]="'times'"></fa>
      </div>
    </div>
  </div>-->

  <!--<legend style="text-align:center;margin-top:30px;">
    Customize View
    <fa (click)="customizeViewHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
  </legend>
  <app-modal-dialog class="help-modal" #customizeViewHelpModal>
    <div class="app-modal-header">
      Help for customizing the view
    </div>
    <div class="app-modal-body">
      Show all commits triggers renders all commits to the visualization that may be selected with the above options and puts them to the foreground.
      Show all files renders all files to the visualization that may be selected with the above options and puts them to the foreground.
      Show commits and files renders both, files and commits, that may be selected with the above options and puts both to the foreground.
      Fade Files puts all current file visualizations in the background.
      Fade Commits puts all current commit visualizations in the background.
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="customizeViewHelpModal.hide()">Close</button>
    </div>
  </app-modal-dialog>
-->
  <!--<div class="search-input-group">
    <div class="button" (click)="showFileDetailView()">Show File Details</div>
  </div>-->
</div>

