<div class="filter-area">
  <div class="search-input-group">
    <label>Add file to visualization</label>
    <select2 [data]="getFileListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setFileSelectValueAndEmitAddFileToVisualizationEvent($event.value)">
    </select2>

    <div id="selected-files-holder">
      <div class="list-for-delete-panel"
           *ngFor="let file of getSelectedFileList()"
           [style.color]="getFileColorByFileName(file)">
              {{"..."+file.slice(-35)}}
              <fa (click)="removeFromSelectedFileList(file)" [name]="'times'"></fa>
      </div>
    </div>
  </div>
  <div class="search-input-group">
    <label>Set file quality metric</label>
    <select>
      <option>test</option>
    </select>
  </div>
  <div class="search-input-group">
    <label>Add commit quality to visualization</label>
    <select2 [data]="getCommitQualityListForSelect()"
             [options]="getSelectLayoutOptions()"
             (valueChanged)="setCommitQualitySelectValueAndEmitAddCommitToVisualizationEvent( $event.value )">
    </select2>

    <div id="selected-commit-qualities-holder">
      <div class="list-for-delete-panel"
           *ngFor="let commitQuality of getCommitQualityList()">
            {{commitQuality}}
        <fa (click)="removeFromSelectedCommitQualityList(commitQuality)" [name]="'times'"></fa>
      </div>
    </div>
  </div>
  <div class="search-input-group">
    <label>Customize View</label>
    <div class="button" (click)="showCommitView()">Show Commits</div>
    <div class="button" (click)="showFileView()">Show Files</div>
    <div class="button" (click)="showFileView()">Show All</div>
    <div class="button" (click)="fadeFileView()">Fade Files</div>
    <div class="button" (click)="fadeCommitView()">Fade Commits</div>
  </div>
  <!--<div class="search-input-group">
    <div class="button" (click)="showFileDetailView()">Show File Details</div>
  </div>-->
</div>
