.filter-area {
    padding:8px;
}

.search-input-group
{
    margin-top:8px;
    width:100%;
}

.search-input-group label
{
    display:block;
    width:100%;
    margin-bottom:3px;

    font-style:italic;
}

.search-input-group select
{
    width:100%;
}

.list-for-delete-panel
{
    margin-top:2px;

    background-color:#ddd;
    color:darkslategray;
    padding:3px;

    font-size:14px;
}

.list-for-delete-panel fa{
    float:right;
    cursor:pointer;
}

.active{
    color: #0e83cd !important;
    background: #fff !important;

    border-color: #0e83cd !important;
}


