<div class="filter-area">
  <div class="button"
       (click)="switchViewTrigger()">
    Switch {{getActiveViewName()}}
  </div>
  <div class="search-input-group">
    <label>Filter by file</label>
    <select>
      <option>-- please choose --</option>
    </select>
  </div>
  <div class="search-input-group">
    <label>Filter by quality metric</label>
    <select>
      <option>-- please choose --</option>
    </select>
  </div>
  <div class="search-input-group">
    <label>Filter by Author</label>
    <select>
      <option>-- please choose --</option>
    </select>
  </div>
  <div class="search-input-group">
    <label>Code Snippet Search</label>
    <input type="text"/>
  </div>
</div>
