<app-options-panel #optionsPanel
        (addSelectedCommitQualityListToVisualizationEvent)="addCommitQualityListToVisualization()"
        (addFileToVisualizationEvent)="addFileToVisualization()"
        (addCommitQualityToVisualizationEvent)="addCommitQualityToVisualization()"
        (removeFileFromVisualizationEvent)="removeFileFromVisualization()"
        (removeCommitQualityFromVisualizationEvent)="removeCommitQualityFromVisualization()"
        (clearFileViewEvent)="clearFileView()"
        (clearCommitViewEvent)="clearCommitView()"
        (addSelectedFileListToVisualizationEvent)="addFileListToVisualization()">
</app-options-panel>
<div id="trend-chart">
  <!--trend chart gets rendered here-->
</div>

