.horizontal-flex-wrapper{
    display:flex;

    align-items:stretch;
}

.vertical-flex-wrapper{
    display:flex;
    flex-direction:column;

    flex-basis:79%;
}

#trend-chart {
    margin:20px;
}

app-options-panel {
    max-width:20%;
    width:20%;
    flex-basis:20%;

    bottom:0;
    border-right:dashed 1px black;
}

app-legend {

}

app-code-editor {

}

app-diff-panel {

}

.file-view-node {
    cursor:pointer;
    stroke-width: 2px;
    fill: #fff;
    clip-path: stroke-box;

}

.commit-view-node {
    cursor:pointer;
}

.guide-line{
    stroke-dasharray: 3,3;
}