.diff-panel-holder{
    display:flex;
    flex-direction:column;

    padding:0 8px 0 0;
}

.file-info-holder{
    flex-basis:20%;
}

.info-label{
    margin-top:10px;
    font-size:10px;
}

.info-value{
    font-size:12px;
    font-style:normal;
}

label {
    font-style:italic;
}

legend{
    border-radius:2px;
    background-color:gray;

    color:white;
    padding:3px;
}
