<!--<legend style="text-align:center;margin-top:30px;">
    Compare Files
    <fa (click)="compareFilesHelpModal.show()" [name]="'question'" class="pointer-cursor"></fa>
</legend>-->
<app-modal-dialog class="help-modal" #compareFilesHelpModal>
    <div class="app-modal-header">
        Help for comparing file versions with each other
    </div>
    <div class="app-modal-body">
        If you are visualizing files, you can compare two versions for their differences.<br/>
        First click on one file node in the visualization and then click on 'Fixate revision for first file'. Selecting another file node and clicking 'Show File Difference View' opens a Diff Viewer.
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-default" (click)="compareFilesHelpModal.hide()">Close</button>
    </div>
</app-modal-dialog>
<div class="diff-panel-holder">
    <div class="file-info-holder">
        <label class="info-label">File Name</label>
        <div class="info-value">{{getLeftFileData().fileName}}</div>
        <label class="info-label">Version Date</label>
        <div class="info-value">{{getLeftFileData().date}}</div>
        <div class="button" (click)="toggleLeftFileFixated()">
            <span *ngIf="getLeftFileFixated() && getLeftFileData().fileName != 'N/A'; else leftFileFixated" >
                Change first revision
            </span>
            <ng-template #leftFileFixated>
                Fixate first revision
            </ng-template>
        </div>
    </div>

    <div *ngIf="getLeftFileFixated() && getLeftFileData().fileName != 'N/A'" class="file-info-holder">
        <label class="info-label">File Name</label>
        <div class="info-value">{{getRightFileData().fileName}}</div>
        <label class="info-label">Version Date</label>
        <div class="info-value">{{getRightFileData().date}}</div>
        <div class="button" (click)="modal.show();codeEditor.setLeftContent();codeEditor.setRightContent()">
            Show File Difference View
        </div>
    </div>

    <app-modal-dialog #modal>
        <div class="app-modal-header">
            Difference View for File <strong>{{getFileName()}}</strong>
            <div class="diff-modal-header-quality">
                <div class="diff-modal-header-left">
                    First selected revision: <span [style.color]="getQualityColor()">{{getLeftValue() + ' ' + getLeftLabel()}}</span>
                </div>
                <div class="diff-modal-header-right">
                    Second selected revision: <span [style.color]="getQualityColor()">{{getRightValue() + ' ' +  getRightLabel()}}</span>
                </div>
            </div>
        </div>
        <div class="app-modal-body">
           <app-code-editor #codeEditor></app-code-editor>
        </div>
        <div class="app-modal-footer">
            <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
        </div>
    </app-modal-dialog>

</div>
