.diff-panel-holder{
    display:flex;
    flex-direction:row;

    padding:0 8px 0 0;
}

.file-info-holder{
    margin-top:15px;
    flex-basis:50%;
}

.info-label{
    margin-top:10px;
    font-size:10px;
}

.info-value{
    font-size:12px;
    font-style:normal;
}

label {
    font-style:italic;
}

legend{
    border-radius:2px;
    background-color:gray;

    color:white;
    padding:3px;
}

.pointer-cursor {
    cursor: pointer;
}

.diff-modal-header-quality{
    margin-top: 10px;
    display:flex;

    justify-content: center;
    font-size:18px;
}

.diff-modal-header-left{
    width:50%;
    float:left;
}

.diff-modal-header-right{
    width:50%;
    float:right;

    margin-left:82px;
}

.CodeMirror.cm-s-default{
    height:800px;
}
